body {
    font-family: -apple-system, BlinkMacSystemFont, "Inter", "IBM Plex Sans", Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    max-width: 800px;
    margin: auto;
    padding: 10px;
    color: #333333;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid #333333;
}

a:hover {
    color: black;
    border-bottom: 2px solid black;
}

header {
    font-size: 18px;
    margin: 60px 0px;
    color: black;
}

nav > a {
    display: inline-block;
    float: right;
    vertical-align: baseline;
    margin-left: 10px;
    border: none;
    color: #333333;
}

nav > a:hover {
    border: none
}

main {
    line-height: 24px;
}
