body {
    max-width: 800px;
    margin: auto;
    padding: 50px;
    background: #fff1d0;
}

header {
    font-size: 18px;
    margin: 60px 0px;
    color: black;
}

hr {
    margin: 25px 0px;
    border-top: 2px solid black;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
