* {
    box-sizing: border-box;
}

body {
    max-width: 900px;
    margin: auto;
    padding: 50px;
    font-family: sans-serif;
    font-weight: lighter;
}

header {
    font-size: 18px;
    margin: 60px 0px;
    color: black;
}

hr {
    margin: 25px 0px;
    border-top: 2px solid black;
}

a {
    text-decoration: underline;
    color: black;
}

a:hover {
    font-style: italic;
}


.title {
    margin: 0;
}

.work {
    margin-bottom: 10px;
}

.work__title {
    text-decoration: none;
    font-weight: normal;
}

.work__bio {
    float: right;
}

.work__year {
    margin-left: 15px;
}

@media screen and (max-width: 600px) {
    .work {
        margin-bottom: 20px;
    }

    .work__bio {
        float: none;
        display: block;
    }

    .work__year {
        display: hidden;
        font-size: 0;
    }
}
