<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    {%- seo -%}
    <link rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel = "stylesheet" href = "{{ "/assets/main.css" | relative_url }}">
    <title>Aarush Gupta</title>
</head>
<body>
    <header>
        <nav>
            <a href = "/blog">Blog</a>
            <a href = "/">About</a>
        </nav>
        <p>Aarush Gupta</p>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <a href = "https://twitter.com/notallm" target = "_blank"><i class = "bi bi-twitter"></i></a>
        <a href = "https://github.com/notallm" target = "_blank"><i class = "bi bi-github"></i></a>
        <a href = "https://linkedin.com/in/aarushgupta001" target = "_blank"><i class = "bi bi-linkedin"></i></a>
        <a href = "mailto:hi@aarushgupta.com" target = "_blank"><i class = "bi bi-envelope-fill"></i></a>
    </footer>
</body>
</html>
